@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
:root {
  --color-landing: orange;
  --titre: #c9d1d9;
  --texte: #8b949e;
  --font: "Rubik", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2 {
  color: var(--color-landing);
  margin-bottom: 16px;
  font-family: var(--font);
}

p {
  color: var(--titre);
  margin-bottom: 12px;
}

.landing-page {
  position: relative;
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(#000433, #3893c2);
}

.landing-page img {
  position: absolute;
  width: 100%;
  -webkit-user-drag: none;
}
.landing-image {
  position: absolute;
  width: 100%;
  -webkit-user-drag: none;
}

.landing-page #moon {
  z-index: 2;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  width: 50%;
  mix-blend-mode: screen;
}

.landing-page #stars {
  position: absolute;
  background-image: url(./images/2107.w026.n002.586B.p1.586-starshd[Converti].png);
  background-size: cover;
  width: 100%;
  height: 100%;
  background-position: 50% 0;
  object-fit: cover;
  z-index: 1;
  animation: shrink 20s ease-in-out infinite alternate;
}
.landing-page #front {
  bottom: 0;
  z-index: 10;
}
.landing-page #ocean {
  bottom: 0;
  z-index: 3;
}
.landing-title h1 {
  text-shadow: 2px 2px 4px black;
  font-size: 3rem;
  color: var(--color-landing);
  font-weight: 400;
}
.landing-title p {
  text-shadow: 2px 2px 4px black;
  font-size: 2rem;
  color: var(--color-landing);
}

.title-name {
  opacity: 0;
  transform: translateY(50%);
}
.landing-title {
  position: absolute;
  left: 50%;
  top: 20%;
  z-index: 7;
  transform: translate3d(-50%, 0px, 0px);
  text-align: center;
  font-family: var(--font);
  pointer-events: none;
}
.landing-svg {
  position: absolute;
  z-index: 5;
  height: 100%;
  width: 100%;
}

@media (max-width: 992px) {
  .landing-page #moon {
    width: 80%;
  }

  .landing-page #stars {
    background-image: url(./images/2107.w026.n002.586B.p1.586-starshdrec[Converti].png);
  }

  .landing-title h1 {
    font-size: 2.5rem;
  }
  .landing-title p {
    font-size: 1.75rem;
  }
}

@media (max-width: 767px) {
  .landing-page #moon {
    width: 100%;
  }
}

@keyframes shrink {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}

.container {
  position: absolute;
  z-index: 12;
  top: 80%;
  left: 50%;
  width: 24px;
  height: 24px;
  transform: translate(-50%);
}

.chevron {
  position: absolute;
  width: 28px;
  height: 8px;
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 3s ease-out infinite;
}

.chevron:first-child {
  animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
  content: " ";
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: var(--color-landing);
}

.chevron:before {
  left: 0;
  transform: skew(0deg, 30deg);
}

.chevron:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}

@keyframes move {
  25% {
    opacity: 1;
  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}

.contenu {
  position: relative;
  z-index: 10;
  background-color: #0d1117;
}

.transition {
  height: 120px;
  width: 100%;
  background: linear-gradient(#231f42, #0d1117);
}

.btn {
  background-color: #313131;
}

.description {
  max-width: 900px;
  padding: 50px;
  margin: auto;
  & .row {
    margin-bottom: 24px;
  }
  & .press {
    display: flex;
    & .presentation {
      width: 60%;
      padding: 20px;
      & .presentation-links {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        & .wrapper {
          & .retro-btn {
            text-transform: uppercase;
            background: 0 0;

            &.github {
              .btn .btn-inner .content-wrapper {
                &:before {
                  background-color: rgb(0, 0, 0);
                }
                .btn-content {
                  background-color: rgb(79, 79, 79);
                }
              }
            }
            &.linkedin {
              .btn .btn-inner .content-wrapper {
                &:before {
                  background-color: rgb(0, 0, 0);
                }
                .btn-content {
                  background-color: #0e76a8;
                }
              }
            }
            &.cv {
              .btn .btn-inner .content-wrapper {
                &:before {
                  background-color: rgb(0, 0, 0);
                }
                .btn-content {
                  background-color: #004aad;
                }
              }
            }

            .btn {
              -webkit-user-select: none;
              -moz-user-select: none;
              -ms-user-select: none;
              user-select: none;
              -webkit-box-sizing: border-box;
              box-sizing: border-box;
              display: inline-block;
              vertical-align: middle;
              padding-top: 3px;
              position: relative;
              cursor: pointer;
              font-weight: 700;
              font-family: inherit;
              font-style: normal;
              letter-spacing: 0;
              text-rendering: auto;
              text-decoration: none;
              text-align: center;
              -webkit-transition: opacity 0.1s ease-out;
              transition: opacity 0.1s ease-out;
              z-index: 5;
              -webkit-font-smoothing: antialiased;

              // size
              width: 120px;
              height: 46px;
              font-size: 0.9rem;
              line-height: 24px;

              background-color: transparent;
              text-decoration-color: initial;
              border-color: initial;
              -webkit-tap-highlight-color: transparent;

              &,
              &:focus {
                outline-color: 0;
                outline-style: none;
                outline-width: 0;
              }

              &:hover {
                .btn-content-inner:before {
                  background-color: rgba(13, 13, 13, 0.1);
                }
              }

              &:before {
                content: " ";
                background-color: rgba(13, 13, 13, 0.3);
                width: calc(100% - 2px);
                height: calc(100% - 4px);
                bottom: -1px;
                left: 1px;
                position: absolute;
                border-radius: 3px;
                z-index: 1;
                -webkit-transition: background 0.12s ease-out,
                  -webkit-transform 0.12s ease-out;
                transition: background 0.12s ease-out,
                  -webkit-transform 0.12s ease-out;
                transition: transform 0.12s ease-out, background 0.12s ease-out;
                transition: transform 0.12s ease-out, background 0.12s ease-out,
                  -webkit-transform 0.12s ease-out;
              }

              &.btn-left {
                &:before {
                  -webkit-transform: skewY(1deg) translate3d(0, -0.5px, 0);
                  transform: skewY(1deg) translate3d(0, -0.5px, 0);
                }

                .btn-content {
                  -webkit-transform: skewY(-1deg);
                  transform: skewY(-1deg);
                }
              }

              &.btn-right {
                &:before {
                  -webkit-transform: skewY(-1deg) translate3d(0, -0.5px, 0);
                  transform: skewY(-1deg) translate3d(0, -0.5px, 0);
                }

                .btn-content {
                  -webkit-transform: skewY(1deg);
                  transform: skewY(1deg);
                }
              }

              &.btn-center {
                &:before {
                  -webkit-transform: translate3d(0, -1px, 0);
                  transform: translate3d(0, -1px, 0);
                }

                .btn-content {
                  -webkit-transform: translate3d(0, 1px, 0);
                  transform: translate3d(0, 1px, 0);
                }
              }

              &.btn-active {
                .btn-inner .content-wrapper .btn-content {
                  -webkit-transition: background 0.12s ease-out,
                    color 0.12s ease-out, -webkit-transform 0.12s ease-out;
                  transition: background 0.12s ease-out, color 0.12s ease-out,
                    -webkit-transform 0.12s ease-out;
                  transition: transform 0.12s ease-out,
                    background 0.12s ease-out, color 0.12s ease-out;
                  transition: transform 0.12s ease-out,
                    background 0.12s ease-out, color 0.12s ease-out,
                    -webkit-transform 0.12s ease-out;
                  -webkit-transform: translate3d(0, 2px, 0);
                  transform: translate3d(0, 2px, 0);

                  .btn-content-inner {
                    opacity: 0.1;
                  }
                }

                &:before {
                  -webkit-transform: translate3d(0, -3px, 0);
                  transform: translate3d(0, -3px, 0);
                }
              }

              .btn-inner {
                display: block;
                height: 100%;

                .content-wrapper {
                  position: relative;
                  font-family: inherit;
                  display: -webkit-box;
                  display: -ms-flexbox;
                  display: flex;
                  -webkit-box-align: stretch;
                  -ms-flex-align: stretch;
                  align-items: stretch;
                  width: 100%;
                  height: calc(100% - 3px);
                  margin-top: -3px;

                  &:after,
                  &:before,
                  & .btn-content:after,
                  & .btn-content:before,
                  & .btn-content .btn-content-inner:before {
                    display: block;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                  }

                  &:before {
                    background-image: initial;
                    background-color: #004d40;

                    content: " ";
                    border-radius: 3px;
                    top: auto;
                    bottom: -3px;
                    z-index: 1;
                    -webkit-transition: background 0.185s ease-out,
                      -webkit-transform 0.185s ease-out;
                    transition: background 0.185s ease-out,
                      -webkit-transform 0.185s ease-out;
                    transition: transform 0.185s ease-out,
                      background 0.185s ease-out;
                    transition: transform 0.185s ease-out,
                      background 0.185s ease-out,
                      -webkit-transform 0.185s ease-out;
                  }

                  &:after {
                    background-color: rgba(13, 13, 13, 0.15);

                    content: " ";
                    border-radius: 3px;
                    z-index: 3;
                    width: 0;
                    top: 2px;
                  }

                  .btn-content {
                    background-image: initial;
                    background-color: #26a69a;
                    color: #ebf1f8;

                    position: relative;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-flex: 1;
                    -ms-flex: 1;
                    flex: 1;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    align-items: center;
                    -webkit-box-pack: center;
                    -ms-flex-pack: center;
                    justify-content: center;
                    border-radius: 3px;
                    text-indent: 0;
                    z-index: 3;
                    overflow: hidden;
                    padding: 0 16px;
                    -webkit-transition: border 0.185s ease-out,
                      background 0.185s ease-out, color 0.185s ease-out,
                      -webkit-transform 0.185s ease-out;
                    transition: border 0.185s ease-out,
                      background 0.185s ease-out, color 0.185s ease-out,
                      -webkit-transform 0.185s ease-out;
                    transition: border 0.185s ease-out,
                      transform 0.185s ease-out, background 0.185s ease-out,
                      color 0.185s ease-out;
                    transition: border 0.185s ease-out,
                      transform 0.185s ease-out, background 0.185s ease-out,
                      color 0.185s ease-out, -webkit-transform 0.185s ease-out;

                    &:before,
                    &:after {
                      display: -webkit-box;
                      display: -ms-flexbox;
                      display: flex;
                      -webkit-box-align: center;
                      -ms-flex-align: center;
                      align-items: center;
                      -webkit-box-pack: center;
                      -ms-flex-pack: center;
                      justify-content: center;
                      color: rgba(255, 255, 255, 0.8);
                      opacity: 0;
                      -webkit-transition: opacity 0.1125s ease-out 0.05s,
                        -webkit-transform 0.185s ease-out 0.05s;
                      transition: opacity 0.1125s ease-out 0.05s,
                        -webkit-transform 0.185s ease-out 0.05s;
                      transition: transform 0.185s ease-out 0.05s,
                        opacity 0.1125s ease-out 0.05s;
                      transition: transform 0.185s ease-out 0.05s,
                        opacity 0.1125s ease-out 0.05s,
                        -webkit-transform 0.185s ease-out 0.05s;
                    }

                    &:before {
                      content: " ";
                      -webkit-transform: translate3d(0, 50%, 0);
                      transform: translate3d(0, 50%, 0);
                    }

                    &:after {
                      content: " ";
                      -webkit-transform: translate3d(0, -50%, 0);
                      transform: translate3d(0, -50%, 0);
                    }

                    .btn-content-inner {
                      display: flex;
                      -webkit-transition: opacity 75ms ease-out 0.1125s;
                      transition: opacity 75ms ease-out 0.1125s;
                      font-family: var(--font);
                      //   font-size: 1rem;
                      & svg {
                        margin-right: 8px;
                        fill: white;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    & .right-presentation {
      width: 40%;
      position: relative;
      z-index: 11;
      padding: 20px;
      & .presentation-image {
        width: 100%;
        height: 100%;
        min-height: 200px;
        & .image {
          position: absolute;
          z-index: 12;
          border-radius: 4px;
          height: 100%;
          overflow: hidden;
          & img {
            width: 100%;
            height: 100%;
            object-position: left;
            object-fit: cover;
            filter: grayscale(1);
            transition: 0.5s;
            border-radius: 4px;
            overflow: hidden;
          }
        }

        &::before {
          content: "";
          transition: 0.5s;
          position: absolute;
          z-index: 11;
          border-radius: 4px;
          border: 2px solid orange;
          top: 0;
          bottom: 0;
          right: 0;
          left: 0;
          transform: translateX(16px) translateY(16px);
        }
      }
      & .presentation-image:hover img {
        filter: grayscale(0);
        transform: scale(1.1);
      }
      & .presentation-image:hover::before {
        transform: translateX(8px) translateY(8px);
      }
    }
  }
  & .competences {
    padding: 20px;
    & .tableau {
      ul {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        & li {
          width: calc(100% / 6);
          text-decoration: none;
          list-style: none;
          color: var(--titre);
          padding: 8px;
          & .logo {
            border-radius: 4px;
            background-color: #313131;
            transition: 0.5s;
            padding: 8px;
            height: 100%;
            & svg {
              width: 100%;
              height: 100%;
              filter: grayscale(0.9);
              transition: 0.5s;
            }
          }
          & .logo:hover svg {
            filter: none;
          }
          & .logo:hover {
            transform: translateY(-5px);
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .description {
    padding: 0 10px 10px 10px;
    & .press {
      display: flex;
      flex-direction: column;
      & .presentation {
        width: 100%;
      }
      & .right-presentation {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        & .presentation-image {
          max-width: 300px;
        }
      }
    }
    .competences {
      & .tableau {
        ul {
          li {
            width: 25%;
          }
        }
      }
    }
  }
}
