@font-face {
  font-family: "Rubik";
  src: url("./fonts/Rubik.ttf");
}
@font-face {
  font-family: "Calibre";
  src: url("./fonts/CalibreRegular.otf");
}
:root {
  --color-landing: orange;
  --bg-lighter: #141b24;
  --bg: #0d1117;
  --titre: #dae2eb;
  --texte: #abb6c2;
  --font: "Rubik", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2 {
  color: var(--titre);
  margin-bottom: 32px;
  font-size: 1.75rem;
  font-family: var(--font);
}
h2 span {
  color: var(--texte);
  font-size: 1rem;
  font-weight: normal;
}

p {
  color: var(--texte);
  font-size: 0.875rem;
  margin-bottom: 12px;
  font-family: "Calibre";
}

ul {
  margin-bottom: 8px;
}

li {
  font-family: "Calibre";
}

h3 {
  padding-top: 8px;
  color: var(--titre);
  margin-bottom: 16px;
  font-size: 1.5rem;
}
h3 span {
  color: var(--color-landing);
  font-size: 1rem;
  font-weight: normal;
}

a {
  color: var(--color-landing);
  text-decoration: none;
}

a:hover {
  color: var(--titre);
}

.landing-page {
  position: relative;
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(#000433, #3893c2);
}

.landing-page img {
  position: absolute;
  width: 100%;
  -webkit-user-drag: none;
}

.landing-image {
  position: absolute;
  width: 100%;
  -webkit-user-drag: none;
}

.landing-page #moon {
  z-index: 2;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  width: 50%;
  mix-blend-mode: screen;
}

.landing-page #stars {
  position: absolute;
  background-image: url(./images/2107.w026.n002.586B.p1.586-starshd[Converti].png);
  background-size: cover;
  width: 100%;
  height: 100%;
  background-position: 50% 0;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 1;
  -webkit-animation: shrink 20s ease-in-out infinite alternate;
          animation: shrink 20s ease-in-out infinite alternate;
}

.landing-page #front {
  bottom: 0;
  z-index: 10;
}

.landing-page #ocean {
  bottom: 0;
  z-index: 3;
}

.landing-title h1 {
  text-shadow: 2px 2px 4px black;
  font-size: 3rem;
  color: var(--color-landing);
  font-weight: 400;
}

.landing-title p {
  text-shadow: 2px 2px 4px black;
  font-size: 2rem;
  font-weight: bold;
  color: var(--color-landing);
}

.title-name {
  opacity: 0;
  transform: translateY(50%);
}

.landing-title {
  position: absolute;
  left: 50%;
  top: 20%;
  z-index: 7;
  transform: translate3d(-50%, 0px, 0px);
  text-align: center;
  font-family: var(--font);
  pointer-events: none;
}

.landing-svg {
  position: absolute;
  z-index: 5;
  height: 100%;
  width: 100%;
}

@media (max-width: 992px) {
  .landing-page #moon {
    width: 80%;
  }

  .landing-page #stars {
    background-image: url(./images/2107.w026.n002.586B.p1.586-starshdrec[Converti].png);
  }

  .landing-title h1 {
    font-size: 2.5rem;
  }

  .landing-title p {
    font-size: 1.75rem;
  }
}
@media (max-width: 767px) {
  .landing-page #moon {
    width: 100%;
  }
}
@-webkit-keyframes shrink {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}
@keyframes shrink {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}
.container {
  position: absolute;
  z-index: 12;
  top: 80%;
  left: 50%;
  width: 24px;
  height: 24px;
  transform: translate(-50%);
}

.chevron {
  position: absolute;
  width: 28px;
  height: 8px;
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
  -webkit-animation: move 3s ease-out infinite;
          animation: move 3s ease-out infinite;
}

.chevron:first-child {
  -webkit-animation: move 3s ease-out 1s infinite;
          animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  -webkit-animation: move 3s ease-out 2s infinite;
          animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
  content: " ";
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: var(--color-landing);
}

.chevron:before {
  left: 0;
  transform: skew(0deg, 30deg);
}

.chevron:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}

@-webkit-keyframes move {
  25% {
    opacity: 1;
  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}

@keyframes move {
  25% {
    opacity: 1;
  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}
.contenu {
  position: relative;
  z-index: 10;
  background-color: var(--bg);
}

.transition {
  height: 120px;
  width: 100%;
  background: linear-gradient(#231f42, var(--bg));
}

.btn {
  background-color: #313131;
}

.description {
  max-width: 900px;
  padding: 50px;
  margin: auto;
}
.description .row {
  margin-bottom: 24px;
}
.description .press {
  display: flex;
}
.description .press .presentation {
  width: 60%;
  padding: 20px;
}
.description .press .presentation .presentation-links {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.description .press .presentation .presentation-links .wrapper .retro-btn {
  text-transform: uppercase;
  background: 0 0;
}
.description .press .presentation .presentation-links .wrapper .retro-btn.github .btn .btn-inner .content-wrapper:before {
  background-color: black;
}
.description .press .presentation .presentation-links .wrapper .retro-btn.github .btn .btn-inner .content-wrapper .btn-content {
  background-color: #333;
}
.description .press .presentation .presentation-links .wrapper .retro-btn.linkedin .btn .btn-inner .content-wrapper:before {
  background-color: black;
}
.description .press .presentation .presentation-links .wrapper .retro-btn.linkedin .btn .btn-inner .content-wrapper .btn-content {
  background-color: #0e76a8;
}
.description .press .presentation .presentation-links .wrapper .retro-btn.cv .btn .btn-inner .content-wrapper:before {
  background-color: black;
}
.description .press .presentation .presentation-links .wrapper .retro-btn.cv .btn .btn-inner .content-wrapper .btn-content {
  background-color: #004aad;
}
.description .press .presentation .presentation-links .wrapper .retro-btn .btn {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  padding-top: 3px;
  position: relative;
  cursor: pointer;
  font-weight: 700;
  font-family: inherit;
  font-style: normal;
  letter-spacing: 0;
  text-rendering: auto;
  text-decoration: none;
  text-align: center;
  transition: opacity 0.1s ease-out;
  z-index: 5;
  -webkit-font-smoothing: antialiased;
  width: 120px;
  height: 46px;
  font-size: 0.9rem;
  line-height: 24px;
  background-color: transparent;
  -webkit-text-decoration-color: initial;
          text-decoration-color: initial;
  border-color: initial;
  -webkit-tap-highlight-color: transparent;
}
.description .press .presentation .presentation-links .wrapper .retro-btn .btn, .description .press .presentation .presentation-links .wrapper .retro-btn .btn:focus {
  outline-color: 0;
  outline-style: none;
  outline-width: 0;
}
.description .press .presentation .presentation-links .wrapper .retro-btn .btn:hover .btn-content-inner:before {
  background-color: rgba(13, 13, 13, 0.1);
}
.description .press .presentation .presentation-links .wrapper .retro-btn .btn:before {
  content: " ";
  background-color: rgba(13, 13, 13, 0.3);
  width: calc(100% - 2px);
  height: calc(100% - 4px);
  bottom: -1px;
  left: 1px;
  position: absolute;
  border-radius: 3px;
  z-index: 1;
  transition: transform 0.12s ease-out, background 0.12s ease-out;
}
.description .press .presentation .presentation-links .wrapper .retro-btn .btn.btn-left:before {
  transform: skewY(1deg) translate3d(0, -0.5px, 0);
}
.description .press .presentation .presentation-links .wrapper .retro-btn .btn.btn-left .btn-content {
  transform: skewY(-1deg);
}
.description .press .presentation .presentation-links .wrapper .retro-btn .btn.btn-right:before {
  transform: skewY(-1deg) translate3d(0, -0.5px, 0);
}
.description .press .presentation .presentation-links .wrapper .retro-btn .btn.btn-right .btn-content {
  transform: skewY(1deg);
}
.description .press .presentation .presentation-links .wrapper .retro-btn .btn.btn-center:before {
  transform: translate3d(0, -1px, 0);
}
.description .press .presentation .presentation-links .wrapper .retro-btn .btn.btn-center .btn-content {
  transform: translate3d(0, 1px, 0);
}
.description .press .presentation .presentation-links .wrapper .retro-btn .btn.btn-active .btn-inner .content-wrapper .btn-content {
  transition: transform 0.12s ease-out, background 0.12s ease-out, color 0.12s ease-out;
  transform: translate3d(0, 2px, 0);
}
.description .press .presentation .presentation-links .wrapper .retro-btn .btn.btn-active .btn-inner .content-wrapper .btn-content .btn-content-inner {
  opacity: 0.1;
}
.description .press .presentation .presentation-links .wrapper .retro-btn .btn.btn-active:before {
  transform: translate3d(0, -3px, 0);
}
.description .press .presentation .presentation-links .wrapper .retro-btn .btn .btn-inner {
  display: block;
  height: 100%;
}
.description .press .presentation .presentation-links .wrapper .retro-btn .btn .btn-inner .content-wrapper {
  position: relative;
  font-family: inherit;
  display: flex;
  align-items: stretch;
  width: 100%;
  height: calc(100% - 3px);
  margin-top: -3px;
}
.description .press .presentation .presentation-links .wrapper .retro-btn .btn .btn-inner .content-wrapper:after, .description .press .presentation .presentation-links .wrapper .retro-btn .btn .btn-inner .content-wrapper:before, .description .press .presentation .presentation-links .wrapper .retro-btn .btn .btn-inner .content-wrapper .btn-content:after, .description .press .presentation .presentation-links .wrapper .retro-btn .btn .btn-inner .content-wrapper .btn-content:before, .description .press .presentation .presentation-links .wrapper .retro-btn .btn .btn-inner .content-wrapper .btn-content .btn-content-inner:before {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.description .press .presentation .presentation-links .wrapper .retro-btn .btn .btn-inner .content-wrapper:before {
  background-image: initial;
  background-color: #004d40;
  content: " ";
  border-radius: 3px;
  top: auto;
  bottom: -3px;
  z-index: 1;
  transition: transform 0.185s ease-out, background 0.185s ease-out;
}
.description .press .presentation .presentation-links .wrapper .retro-btn .btn .btn-inner .content-wrapper:after {
  background-color: rgba(13, 13, 13, 0.15);
  content: " ";
  border-radius: 3px;
  z-index: 3;
  width: 0;
  top: 2px;
}
.description .press .presentation .presentation-links .wrapper .retro-btn .btn .btn-inner .content-wrapper .btn-content {
  background-image: initial;
  background-color: #26a69a;
  color: #ebf1f8;
  position: relative;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  text-indent: 0;
  z-index: 3;
  overflow: hidden;
  padding: 0 16px;
  transition: border 0.185s ease-out, transform 0.185s ease-out, background 0.185s ease-out, color 0.185s ease-out;
}
.description .press .presentation .presentation-links .wrapper .retro-btn .btn .btn-inner .content-wrapper .btn-content:before, .description .press .presentation .presentation-links .wrapper .retro-btn .btn .btn-inner .content-wrapper .btn-content:after {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 0.8);
  opacity: 0;
  transition: transform 0.185s ease-out 0.05s, opacity 0.1125s ease-out 0.05s;
}
.description .press .presentation .presentation-links .wrapper .retro-btn .btn .btn-inner .content-wrapper .btn-content:before {
  content: " ";
  transform: translate3d(0, 50%, 0);
}
.description .press .presentation .presentation-links .wrapper .retro-btn .btn .btn-inner .content-wrapper .btn-content:after {
  content: " ";
  transform: translate3d(0, -50%, 0);
}
.description .press .presentation .presentation-links .wrapper .retro-btn .btn .btn-inner .content-wrapper .btn-content .btn-content-inner {
  display: flex;
  transition: opacity 75ms ease-out 0.1125s;
  font-family: var(--font);
}
.description .press .presentation .presentation-links .wrapper .retro-btn .btn .btn-inner .content-wrapper .btn-content .btn-content-inner svg {
  margin-right: 8px;
  fill: white;
}
.description .press .right-presentation {
  width: 40%;
  z-index: 11;
  padding: 20px;
}
.description .press .right-presentation .presentation-image {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 200px;
}
.description .press .right-presentation .presentation-image .image {
  position: absolute;
  z-index: 12;
  border-radius: 4px;
  height: 100%;
  overflow: hidden;
}
.description .press .right-presentation .presentation-image .image img {
  width: 100%;
  height: 100%;
  -o-object-position: left;
     object-position: left;
  -o-object-fit: cover;
     object-fit: cover;
  filter: grayscale(1);
  transition: 0.5s;
  border-radius: 4px;
  overflow: hidden;
}
.description .press .right-presentation .presentation-image::before {
  content: "";
  transition: 0.5s;
  position: absolute;
  z-index: 11;
  border-radius: 4px;
  border: 2px solid orange;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  transform: translateX(16px) translateY(16px);
}
.description .press .right-presentation .presentation-image:hover img {
  filter: grayscale(0);
  transform: scale(1.1);
}
.description .press .right-presentation .presentation-image:hover::before {
  transform: translateX(8px) translateY(8px);
}
.description .competences {
  padding: 20px;
}
.description .competences .tableau ul {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.description .competences .tableau ul li {
  width: 16.6666666667%;
  text-decoration: none;
  list-style: none;
  color: var(--titre);
  padding: 8px;
}
.description .competences .tableau ul li .logo {
  border-radius: 4px;
  background-color: var(--bg-lighter);
  transition: 0.5s;
  padding: 8px;
  height: 100%;
}
.description .competences .tableau ul li .logo svg {
  width: 100%;
  height: 100%;
  filter: grayscale(0.9);
  transition: 0.5s;
}
.description .competences .tableau ul li .logo:hover svg {
  filter: none;
}
.description .competences .tableau ul li .logo:hover {
  transform: translateY(-5px);
  background-color: #253548;
}
.description .realisations {
  padding: 20px;
}
.description .realisations .right {
  display: flex;
  flex-direction: row-reverse;
}
.description .realisations .img-left {
  left: 0;
}
.description .realisations .img-right {
  right: 0;
}
.description .realisations .projet {
  position: relative;
  margin: 32px 0 128px 0;
}
.description .realisations .projet .content-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.description .realisations .projet .content-right ul {
  flex-direction: row-reverse;
}
.description .realisations .projet .content {
  position: relative;
  z-index: 20;
  width: 50%;
}
.description .realisations .projet .content .texte {
  background-color: var(--bg-lighter);
  padding: 20px;
  border-radius: 4px;
}
.description .realisations .projet .content ul {
  text-decoration: none;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  gap: 10px;
}
.description .realisations .projet .content ul li {
  color: var(--texte);
  font-size: 0.875rem;
}
.description .realisations .projet .content ul li a svg {
  fill: var(--color-landing);
}
.description .realisations .projet .content ul li a:hover svg {
  fill: var(--titre);
}
.description .realisations .projet .content-image {
  width: 60%;
  height: 100%;
  position: absolute;
  z-index: 19;
  top: 0;
  overflow: hidden;
}
.description .realisations .projet .content-image img {
  width: 100%;
  height: 100%;
  min-height: 200px;
  -o-object-position: top;
     object-position: top;
  -o-object-fit: cover;
     object-fit: cover;
  filter: grayscale(1);
  transition: 0.5s;
}
.description .realisations .projet .content-image img:hover {
  transform: scale(1.1);
  filter: grayscale(0);
}

@media (max-width: 767px) {
  .description {
    padding: 0 10px 10px 10px;
  }
  .description .press {
    display: flex;
    flex-direction: column;
  }
  .description .press .presentation {
    width: 100%;
  }
  .description .press .right-presentation {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .description .press .right-presentation .presentation-image {
    max-width: 300px;
  }
  .description .competences .tableau ul li {
    width: 25%;
  }
}
footer {
  height: 200px;
  width: 100%;
  background-color: var(--bg-lighter);
}/*# sourceMappingURL=style.css.map */